name: Analyse Statique avec SonarQube

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  sonarqube_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Run SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_PHP_TOKEN }}
          SONAR_HOST_URL: https://dedicated-emerita-unallied.ngrok-free.dev
